.nav {
    grid-area: "n";
    background-color: #F7F7F7;
    padding: 10px;
    border-right: 1px solid #E0E0E0;
}

.navbar {
    margin-bottom: 10px;
}

.item {
    text-decoration: none;
    font-size: 16px;
    color: #444444;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.activeLink {
    color: #1890ff;
}
